name: Data Processing Pipeline (Prefect Flow)

on: 
  push:
    branches:
      - dev
  workflow_dispatch:

jobs:
  deploy:
    name: Deploy Prefect Flow
    runs-on: ubuntu-latest
    steps:

      - name: Check out the repository
        uses: actions/checkout@v4  

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11.6'

      - name: Install Prefect
        run: |
          python -m pip install --upgrade pip
          pip install prefect==3.4.6

      - name: Deploy Flow using prefect.yaml
        env:
          PREFECT_API_KEY: ${{ secrets.PREFECT_API_KEY }}
          PREFECT_API_URL: ${{ secrets.PREFECT_API_URL }}
        run: |
          prefect deploy --all --prefect-file prefect.yaml