name: Update Stock Data in GCP BigQuery via Prefect

on: 'push'

jobs:
  build:
    name: Update Stock Data
    runs-on: ubuntu-latest
    steps:

      - name: Check out the repository to the runner
        uses: actions/checkout@v4  

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: setup python
        uses: actions/setup-python@v4
        with:
          python-version: 3.11.6

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

      - name: 'Authenticate to Google Cloud'
        uses: 'google-github-actions/auth@v2'
        with:
          credentials_json: '${{ secrets.RECOMMENDATION_APP_GCP_SA_KEY_DEV }}'

      - name: Prefect Deploy
        env:
          PREFECT_API_KEY: ${{ secrets.PREFECT_API_KEY }}
          PREFECT_API_URL: ${{ secrets.PREFECT_API_URL }}
        run: |
          python3 scripts/update_stock_data.py